*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#eef2f7;
height:100vh;
overflow:hidden;
}

/* HEADER */

header{
height:75px;
background:#0d1b2a;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

color:white;

box-shadow:0 4px 15px rgba(0,0,0,.15);
}

.logo{
font-size:26px;
font-weight:700;
}

.timer-box{

background:#1b263b;

padding:14px 24px;

border-radius:14px;

font-size:24px;

font-weight:700;

}


/* MAIN */

.main-container{

display:flex;

height:calc(100vh - 75px);

}


/* PASSAGE */

.passage-section{

width:50%;

background:white;

padding:40px;

overflow-y:auto;

border-right:1px solid #ddd;

}

.passage-section h2{

color:#003566;

margin-bottom:30px;

}

.passage-content{

line-height:2;

font-size:17px;

color:#333;

}


/* QUESTION SIDE */

.question-section{

width:50%;

overflow-y:auto;

padding:40px;

background:#f7f9fc;

}

.question-section h2{

color:#003566;

margin-bottom:25px;

}

.question{

background:white;

padding:25px;

border-radius:16px;

margin-bottom:20px;

box-shadow:

0 10px 25px rgba(0,0,0,.05);

}

.question p{

margin-bottom:15px;

font-weight:600;

}

.question input{

width:100%;

padding:15px;

border-radius:12px;

border:1px solid #ccc;

font-size:16px;

}


.submit-btn{

width:100%;

height:60px;

border:none;

background:#00509d;

color:white;

font-size:20px;

font-weight:700;

border-radius:15px;

cursor:pointer;

transition:.3s;

}

.submit-btn:hover{

background:#003f88;

}.admin-container{
display:flex;
height:100vh;
}

.sidebar{
width:260px;
background:#0d1b2a;
color:white;
padding:30px;
}

.sidebar h2{
margin-bottom:40px;
}

.sidebar button{
width:100%;
margin-bottom:15px;
padding:15px;
border:none;
background:#1b263b;
color:white;
border-radius:12px;
cursor:pointer;
}

.admin-main{
flex:1;
padding:40px;
background:#f4f6fb;
overflow:auto;
}

.card{
background:white;
padding:25px;
margin-bottom:25px;
border-radius:18px;
box-shadow:0 10px 30px rgba(0,0,0,.06);
}

input,
textarea,
select{
width:100%;
padding:15px;
margin-top:15px;
border:1px solid #ccc;
border-radius:12px;
font-size:16px;
}

textarea{
height:250px;
resize:vertical;
}
